<ion-header>
    <ion-navbar color ="v1">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-toolbar>
        <ion-title>
          Ionic Shopping
        </ion-title>
        <button ion-button slot="end">
          <button ion-button (click)="openCart()">
            <ion-badge *ngIf = "cart.length > 0">{{cart.length}}</ion-badge>
            <ion-icon slot="icon-only" name="cart"></ion-icon>
          </button>
        </button>
      </ion-toolbar>
    


    </ion-navbar>
  </ion-header>
<ion-content padding>
 
    <ion-slides >
      <ion-slide *ngFor="let note of notes">
        <div>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{ note.producto }} - ${{ note.precio }}
              </ion-card-title>
              <ion-card-content>
                <img src= {{note.foto}} width="100px">
                <button ion-button expand="full" *ngIf="note.cantidad > note.minimo" (click)="addtocart(note)">Add to Cart</button>
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
 



</ion-content>



