page-list {
    .bg{
        background: linear-gradient(to bottom, rgb(190, 228, 225) 10%, rgb(29, 197, 175) 75%);
        overflow: hidden;
        text-align: center;
        

    }
    .center{
        text-align: center;
    }
    #divCreateAccount{
        text-align: center;
    }
    #createAccount{
        width: 70%;
        margin-top: 7%;
        background-color: #F3A51F;
    }
    #textCreateAccount{
        color: black;
    }
    .no-scroll .scroll-content{
        overflow: hidden;
        text-align: center;
   }
   
   #textContra{
    color: black;
    opacity: 0.7;
}
    #texta{
        color: rgb(24, 241, 16);
        opacity: 0.7;
    }


}
